<!doctype html>
<html>
  <head>
    <title>Add cards to your collection</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Add cards to your collection:</h1>
    <form method="POST" action="/cardadded">
        <p>Card name: <input id="name" type="text" name="name" value="" /></p>
        <!-- <p>Card type: <input id="type" type="text" name="type" value="" /></p>
        <p>Card color: <input id="color" type="text" name="color" value="" /></p>
        <p>Card cost: <input id="cost" type="text" name="cost" value="" /></p>
        <p>Card rarity: <input id="rarity" type="text" name="rarity" value="" /></p> -->
        <input type="submit" value="Add Card" />
      </form>
  </body>
</html>

